<section class="card login">
    <form name="myform" ng-submit="login()" novalidate>
        <div class="textintro">
            <h1>Welcome Here!!</h1>
            <p>Please Log-In</p>
            <h2 class="error validationerror">{{errorMessage}}</h2>
        </div>

        <fieldset>
            <input type="text" name="username" placeholder="User Name" ng-model="loginForm.username" ng-required="true"/>
            <p class="error validationerror" ng-show="myform.username.$invalid && myform.username.$touched"> Please enter a valid UserName</p>

            <input type="password" name="password" placeholder="Password" ng-model="loginForm.password" ng-required="true"/>
            <p class="error validationerror" ng-show="myform.password.$invalid && myform.password.$touched">Password Required</p>
        </fieldset>

        <button type="submit" class="btn" ng-disabled="myform.$invalid">Login</button>
        <a href="#home"></a>
    </form>
</section>